<form [formGroup]="testForm">
    <app-myinput [parentForm]="testForm" label="Comment" type="text" formControlName="comment"></app-myinput>
    <app-myinput [parentForm]="testForm" label="Name" type="text" formControlName="name"></app-myinput>
    <app-myinput [parentForm]="testForm" label="Email" type="text" formControlName="email"></app-myinput>
    <app-myinput [parentForm]="testForm" label="Password" type="text" formControlName="password"></app-myinput>
    <button style="margin: 1em;" (click)="onSubmit()">Submit</button>
</form>